<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="new-movimiento.html">


<dom-module id="gestor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}" use-hash-as-path></app-location>

  <iron-ajax
            id="obtenerCuentas"
            url="http://ec2-18-222-12-196.us-east-2.compute.amazonaws.com:3000/protected/CuentaMovimientos"
            method="GET"
            handle-as="json"
            last-response="{{Data}}"
            on-response="handleUserResponse"
            >
    </iron-ajax>

      <div class="container">
            <table class="table table-striped">
              <colgroup>
                 <button id="boton1" on-click="AddMovs">Nueva Cuenta</button>
                 <!--<paper-button id="boton1" on-tap="AddMovs">Nueva Cuenta</paper-button>-->                 <col span="4" align="left" width="200">
              </colgroup>
           <thead>
               <tr>
                 <th>Cuenta</th>
                 <th>Tipo</th>
                 <th>Fecha_Apertura</th>
                 <th>Saldo</th>
               </tr>
           </thead>
            </table>
      </div>

      <div class="card-group">

        <template is="dom-repeat" items="{{Data}}" as="item">
          <template is="dom-repeat" items="{{item.cuentas}}" as="item1">
<!--Se coloca la impresion de contenido-->
            <div class="container">
             <table class="table table-striped">
               <colgroup>
                  <col span="4" align="left" width="200">
               </colgroup>
             <tbody>
               <tr >
                 <td id="tdcuentas" on-click="Muestramov"><h6 style="text-decoration:underline;color:blue;">{{item1.id_cuenta}}</h6></td>
                 <!--   <td>{{item1.id_cuenta}}</td> -->
                 <td>{{item1.tipo}}</td>
                 <td>{{item1.fapertura}}</td>
                 <td>$  {{item1.saldo}}</td>
               </tr>
               <tr id="tdmov" hidden$="{{hide}}">
                  <td>
                   <div>
                     <table class="table table-striped">
                       <colgroup>
                         <!-- <paper-button id="boton1" on-tap="AddMovs">Pagar Cuenta</paper-button> -->
                         <col span="4" align="left" width="200">
                       </colgroup>
                    <thead>
                        <tr>
                          <th>Fecha</th>
                          <th>Importe</th>
                          <th>TipMov</th>
                          <!--<button on-click="AddMovs" class="btn">Alta de Movimientos</button>-->
                        </tr>
                    </thead>
                     </table>

                     <template is="dom-repeat" items="{{item1.movimientos}}" as="item2">
                       <div class="container">
                            <table class="table table-striped">
                              <colgroup>
                                 <col span="3" align="left" width="150">
                              </colgroup>
                            <tbody>
                              <tr>
                                <td>{{item2.fecha}}</td>
                                <td "$">{{item2.importe}}</td>
                                <td>{{item2.tip_mov}}</td>
                              </tr>
                            </tbody>
                            </table>
                        </div>
                     </template>
                   </div>
                 </td>
               </tr>
             </tbody>
             </table>
            </div>
          </template>
      </template>
        <!--<div hidden$="[[!storedUser.loggedin]]"> -->
        <div class="container" hidden$="{{hide1}}" >
          <!--<div hidden$="[[!storedUser.loggedin]]"> -->
          <!--<p>Bienvenido, [[storedUser.name]]</p>
          <p>Bienvenido, [[storedUser.id_cuent]]</p> -->

          <div class="card">
            <div class="row">
              <new-movimiento></new-movimiento>
            </div>
          </div>
        </div>
        </div>
  </template>

<script>

class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          item1:{
            type: Array
          },
          noCargados:{
            type:Boolean,
            value:true
          },
          hide: {
            type:Boolean,
            value:true
        },
        hide1: {
          type:Boolean,
          value:true
      },
         storedUser: Object
        };
      }


      Data(data){
        this.Data = data.detail.response
        console.log(data.detail.response);
      }

      Muestramov(e) {
        this.hide = !this.hide;
      }

      AddMovs(e) {
        this.hide1 = !this.hide1;
      }

      initStoredUser() {
          // Cuando se carga el iron mando llamar a la cuentas
          console.log(this.storedUser.id_client);
          this.$.obtenerCuentas.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.obtenerCuentas.headers ['id_client']= this.storedUser.id_client;
          this.$.obtenerCuentas.generateRequest();


          }

          handleUserResponse(event) {
                    console.log(event.detail.response);
          }


  }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
</script>
</dom-module>
