<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<dom-module id="home-quotes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <iron-ajax
      id="swApiAjax"
      method="get"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError"
      last-response="{{data}}">
    </iron-ajax>


      <div class="card" style="width:75%";>
<!--      <h1>Vista inicio accesible a todo público</h1> -->
      <h2>Bienvenido a proyecto TechU PBM-HLR</h2>
      <h3>Para acceder a sus cuentas por favor <a href="/register-login">loguearse </a></h3>

  </div>
      <div class="card" style="width:75%;  background-image:url(https://s3-us-west-1.amazonaws.com/nyobamahillary/669177V2.jpg); height: 100%;">
        <h3 style="color: black;">TIP del día</h3>
        <h3 style="color: black;">Sabía usted que uno de los personajes de Star Wars es:</h3>
      <table style="color: black;font-size: 15pt;">
             <tr><td>Nombre: </td><td>[[data.name]]</td></tr>
             <tr><td>Altura:</td><td> [[data.height]]</td></tr>
             <tr><td>Peso: </td><td>[[data.mass]]</td></tr>
             <tr><td>Nacimiento:</td><td>[[data.birth_year]]</td></tr>
             <tr><td>URL</td><td>[[data.url]]</td></tr>
      </table>

      <div class="wrapper-btns">
          <br>
        <paper-button raised class="primary" on-tap="getSW"  style ="border-style: solid; border-width: 1px;">Obtenga un nuevo personaje</paper-button>
      </div>

    </div>
  </template>

  <script>
    class HomeQuotes extends Polymer.Element {
      static get is() { return 'home-quotes'; }



      static get properties()
      {
          return{
          data: Array,
          error: String
            }
      };

      //cuando todo ok llamo a la api publica para obtener el primer nombre
      ready() {
          super.ready();
          //console.log(this);
          this.getSW();
        }

//Obtengo un valor random para llamar a una api externa publica
getSW() {

    //console.log("Entro a getSw")
    const API_URL = 'https://swapi.co/api/';
    const PEOPLE_URL = 'people/:id';
    const NO_IDS_API = 89;
    var swId = Math.floor(Math.random() * NO_IDS_API);
    this.$.swApiAjax.url = API_URL+PEOPLE_URL.replace(':id',swId)+'/';
    this.$.swApiAjax.generateRequest();

}

handleUserResponse(event) {

          console.log(event.detail.response);
          

}
handleUserError(event) {

  console.log(event.detail.request.xhr.response);
}

}

    window.customElements.define(HomeQuotes.is, HomeQuotes);

  </script>
</dom-module>
