<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">


<dom-module id="new-user">

    <template>
      <style include="shared-styles">
        :host {
          display: block;
          padding-left: 20%;
          }

          .wrapper-btns {
              margin-top: 15px;
          }
          paper-button.link {
              color: #757575;
          }

       .alert-error {
           background: #ffcdd2;
           border: 1px solid #f44336;
           border-radius: 3px;
           color: #333;
           font-size: 14px;
           padding: 10px;
          }

      .alert-registrado {
              background: #f4fce8;
              border: 0px solid #f44336;
              border-radius: 3px;
              color: #333;
              font-size: 14px;
              padding: 10px;
          }
      </style>
  <!--Agrego AJAX para el manejo de mensajes con el BackEnd metodo Post -->
      <iron-ajax
        id="registerLoginAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError">
      </iron-ajax>

      <!--Agrego variable global para el guardado localstorage -->
    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
  <!--Agrego localroute para navegar cuando se loguee -->
    <app-location route="{{route}}" use-hash-as-path></app-location>
<!--      <app-location route="{{route}}"></app-location> -->

      <div class="card" style="width:60%";>

          <p hidden$="[[!storedUser.loggedin]]">Ya se encuentra logueado</p>


          <div hidden$="[[storedUser.loggedin]]">
          <h1>Registro</h1>
          <p>Ingrese los datos que se le solicitan para adquirir una cuenta</p>

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <template is="dom-if" if="[[registrado]]">
            <p class="alert-registrado">
                <img src=https://s3-us-west-1.amazonaws.com/nyobamahillary/waiting.gif height="42" width="60">
                <strong>Registro ok</strong> [[registrado]] clic   <a href="#/register-login">aqui para login</a></p>

          </template>

          <iron-input bind-value="{{formData.name}}" allowed-pattern="[a-z,A-Z,á,é,í,ó,ú,Á,É,Í,Ó,Ú,Â,Ê,Ô,Ã,Õ,Ç,ü,ñ,Ü,Ñ,' ']" auto-validate style="border:0;">
              <input id="nombre" type="text" value="{{formData.name}}" placeholder="Nombre(s)">
          </iron-input>

          <iron-input bind-value="{{formData.surname}}" allowed-pattern="[A-Za-z áéíóúñ']">
              <input id="apellidop" type="text" value="{{formData.surname}}" placeholder="Apellido Paterno" auto-validate style="margin-left: 10px;">
          </iron-input>
          <br>
          <br>
          <iron-input bind-value="{{formData.surname2}}" allowed-pattern="[A-Za-z áéíóúñ']" auto-validate style="border:0;">
              <input id="apellidom" type="text" value="{{formData.surname2}}" placeholder="Apellido Materno">
          </iron-input>

          <iron-input bind-value="{{formData.email}}" auto-validate style="margin-left: 10px;">
              <input id="email" type="email" value="{{formData.email}}" placeholder="Correo Electrónico">
          </iron-input>

          <paper-input-container>
          <label slot="input">Usuario</label>
            <iron-input slot="input" bind-value="{{formData.username}}">
              <input id="username" type="text" value="{{formData.username}}" placeholder="Usuario">
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label>Contraseña</label>
            <iron-input slot="input" bind-value="{{formData.password}}" >
              <input id="password" type="password" value="{{formData.password}}" placeholder="Contraseña">
            </iron-input>
          </paper-input-container>


          <paper-input-container>
            <label>Confirme su contraseña</label>
            <iron-input slot="input" bind-value="{{formData.passwordc}}">
              <input id="passwordc" type="password" value="{{formData.passwordc}}" placeholder="Confirme contraseña">
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="postRegister">Registrarse</paper-button>
          </div>


      </div>
    </template>

  <script>
    class NewUser extends Polymer.Element {
      static get is() { return 'new-user'; }

      //Objeto vacio para poder pasarle los parametros simplemente escribiendo los input fields
        static get properties()
        {
          return{
            formData:{
              type: Object,
              value: {}
              },
            storedUser: Object,
            error: String
        };

      }

      //--------------Esto usa AJAX para las peticiones
          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
          }



          //////Cuando se loguea
              postRegister() {

              ///Valido que los campos esten informados
              if (this.formData.name === undefined
                  || this.formData.surname === undefined
                  || this.formData.surname2 === undefined
                  || this.formData.email === undefined
                  || this.formData.username === undefined
                  || this.formData.passwordc === undefined
                  || this.formData.password === undefined)
              {
                    return this.error = "Tiene que informar todos los campos"
              }

              ///Valido que las contraseñas sean iguales
              if (this.formData.passwordc != this.formData.password)
              {
                    return this.error = "Las contraseñas no coinciden, favor de validar"
              }

              if (this.formData.password.length < 6)
              {
                    return this.error = "La contraseña debe de ser de al menos 6 caracteres"
              }

              this.$.registerLoginAjax.url = 'http://ec2-18-222-12-196.us-east-2.compute.amazonaws.com:3000/new-user';
             // this.$.registerLoginAjax.url = 'http://localhost:3000/new-user';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();

//              return this.event.response ="ok"
          }

          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              console.log(response);

              // Esto tiene que ir dentro de promesa, pq cuando vaya a mongo
              if (response.id_token) {
                  this.error = '';

                    console.log("Usuario dado de alta ok")
                  this.registrado = response.id_token;
                  // reset form data
                  this.formData = {};

                  };
              }

        handleUserError(event) {
                  this.error = event.detail.request.xhr.response;
            }
    }

    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
