<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">



<dom-module id="new-movimiento">
    <template>
      <style include="shared-styles">
        :host {
          display: block;
          padding-left: 20%;
          }

          .wrapper-btns {
              margin-top: 15px;
          }
          paper-button.link {
              color: #757575;
          }

       .alert-error {
           background: #ffcdd2;
           border: 1px solid #f44336;
           border-radius: 3px;
           color: #333;
           font-size: 14px;
           padding: 10px;
          }

      .alert-registrado {
              background: #f4fce8;
              border: 0px solid #f44336;
              border-radius: 3px;
              color: #333;
              font-size: 14px;
              padding: 10px;
          }
      </style>
      <!--Agrego AJAX para el manejo de mensajes con el BackEnd metodo Post -->
        <iron-ajax
          id="NewMovsUno"
          auto
          method="POST"
          content-type="application/json"
          handle-as="json"
          on-response="handleUserResponse"
          on-error="handleUserError">
        </iron-ajax>

        <!--Agrego variable global para el guardado localstorage -->
      <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>
      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <app-location route="{{route}}" use-hash-as-path></app-location>

      <div class="card" style="width:80%";>
            <!--<p hidden$="[[!storedUser.loggedin]]">Ya se encuentra logueado</p>
            <div hidden$="[[storedUser.loggedin]]"> -->
            <h1>Alta Cuentas</h1>

            <template is="dom-if" if="[[error]]">
              <p class="alert-error"><strong>Error:</strong> [[error]]</p>
            </template>

            <iron-input bind-value="{{formData.id_cuenta}}" auto-validate style="border:0;">
                <input id="Cuenta" type="text" value="{{formData.id_cuenta}}" placeholder="Nueva Cuenta">
            </iron-input>
          <br>

          <iron-input bind-value="{{formData.tipo}}" auto-validate style="border:0;">
              <input id="Cuenta" type="text" value="{{formData.tipo}}" placeholder="Tipo Cuenta">
          </iron-input>
        <br>

            <iron-input bind-value="{{formData.fapertura}}" auto-validate style="border:0;">
                <input id="Fecha" type="date" value="{{formData.fapertura}}" placeholder="Fecha De Apertura">
            </iron-input>
          <br>
          <br>
            <iron-input bind-value="{{formData.saldo}}" auto-validate style="border:0;">
                <input id="Importe" type='number' and 'value-as-number' value="{{formData.saldo}}" placeholder="Monto Minimo">
            </iron-input>
          <br/>

            <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="postConfirmar">Confirmar</paper-button>
            </div>

        </div>
  </template>

  <script>
    class NewMovs extends Polymer.Element {
      static get is() { return 'new-movimiento'; }

      //Objeto vacio para poder pasarle los parametros simplemente escribiendo los input fields
        static get properties()
        {
          return{
            formData:{
              type: Object,
              value: {}
              },
            storedUser: Object,
              error: String
        };

      }

      //--------------Esto usa AJAX para las peticiones
          _setReqBody() {
              this.formData.idcliente = this.storedUser.id_client
              //this.formData.id_cuenta = this.storedUser.id_cuent
              this.$.NewMovsUno.body = this.formData

              this.$.NewMovsUno.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;

              console.log(this.$.NewMovsUno.body);
          }

          //////Cuando se loguea
              postConfirmar() {

              ///Valido que los campos esten informados
              if (this.formData.fapertura === undefined
                  || this.formData.saldo === undefined
                  || this.formData.id_cuenta === undefined
                  || this.formData.tipo === undefined)
                {
                    return this.error = "Tiene que informar todos los campos"
              }

              ///Valido que las contraseñas sean iguales
              if (this.formData.saldo  < 0)
              {
                    return this.error = "Las pagos solo pueden ser mayores a cero"
              }

              this.$.NewMovsUno.url = 'http://ec2-18-222-12-196.us-east-2.compute.amazonaws.com:3000/protected/new-movimiento';
              this._setReqBody();
              this.$.NewMovsUno.generateRequest();

//              return this.event.response ="ok"
          }

          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              console.log(response);
              // Esto tiene que ir dentro de promesa, pq cuando vaya a mongo
              if (response) {
                  this.error = '';
                    console.log("Cuenta dada de alta ok")
                  // reset form data
                  this.formData = {};
                  location.reload();
                  //this.set('route.path', '/gestor-cuentas');

                  };
              }

        handleUserError(event) {
                  this.error = event.detail.request.xhr.response;
            }

        add() {
            console.log(this.$.NewMovsUno.body)
          this.push('NewMovsUno','this.$.NewMovsUno.body');
        }

    }

    window.customElements.define(NewMovs.is, NewMovs);
  </script>
</dom-module>
