<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">


<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
          padding-left: 20%;
        }

        .wrapper-btns {
            margin-top: 15px;
        }
        paper-button.link {
            color: #757575;
        }

     .alert-error {
         background: #ffcdd2;
         border: 1px solid #f44336;
         border-radius: 3px;
         color: #333;
         font-size: 14px;
         padding: 10px;
        }
    </style>
<!--Agrego AJAX para el manejo de mensajes con el BackEnd metodo Post -->
    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>
<!--Agrego iron local para el guardado de localstorage -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
<!--Agrego variable global para el guardado localstorage -->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
<!--Agrego localroute para navegar cuando se loguee -->
<!--    <app-location route="{{route}}"></app-location>-->
    <app-location route="{{route}}" use-hash-as-path></app-location>

    <div class="card" style="width:60%";>
        <div id="unauthenticated">
        <h1>Ingreso</h1>

        <p>Introduzca su<strong> usuario y contraseña</strong> para acceder a sus cuentas</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>


        <paper-input-container>
          <label slot="input">Usuario</label>
          <iron-input slot="input" bind-value="{{formData.username}}">
            <input id="username" type="text" value="{{formData.username}}" placeholder="Usuario">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Contraseña">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Ingresar</paper-button>
        </div>


    </div>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element
    {
//Clase por defecto se regresa asi misma
      static get is() { return 'register-login'; }
//Objeto vacio para poder pasarle los parametros simplemente escribiendo los input fields
      static get properties()
      {
        return{
          formData:{
            type: Object,
            value: {}
            },
          storedUser: Object,
          error: String
      };
    }
//--------------Esto usa AJAX para las peticiones
    _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
    }

    postLogin() {
        ///URL de back Practitioner
        this.$.registerLoginAjax.url = 'http://ec2-18-222-12-196.us-east-2.compute.amazonaws.com:3000/sessions/create';
        //this.$.registerLoginAjax.url = 'http://localhost:3000/sessions/create';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
    }

    handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);

        if (response.id_token) {
            this.error = '';
            this.storedUser = {
                name: response.name,
                username: this.formData.username,
                id_token: response.id_token,
                access_token: response.access_token,
                loggedin: true,
                id_client: response.id_client,
                id_cuent:0
            };
            //Cuando la respuesta es correcta lo mando a la pagina secreta
            this.set('route.path', '/secret-quotes');
        }

        // reset form data
        this.formData = {};
    }

        handleUserError(event) {
          this.error = event.detail.request.xhr.response;
        }
}

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
