<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="import" href="shared-styles.html">
<link rel="import" href="gestor-cuentas.html">


<dom-module id="secret-quotes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

<!--Código que permite validar si existe un token para acceder a la página -->
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <h1>Cuentas / Movimientos</h1>
<!--Caso que no está logueado -->
    <p hidden$="[[storedUser.loggedin]]">Debe primero <a href="/register-login">loguearse</a> para acceder a sus cuentas</p>


    <div hidden$="[[!storedUser.loggedin]]">
      <p>Bienvenido, [[storedUser.name]]</p>

<!--Código que permita ver las cuentas -->
      <div class="card">
        <div class="row">
          <gestor-cuentas></gestor-cuentas>
        </div>
      </div>

  </template>

  <script>
    class SecretQuotes extends Polymer.Element {
      static get is() { return 'secret-quotes'; }
    }

    window.customElements.define(SecretQuotes.is, SecretQuotes);
  </script>
</dom-module>
